<%= form_with(model: sketchbook, local: true) do |form| %>
  <% if sketchbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sketchbook.errors.count, "error") %> prohibited this sketchbook from being saved:</h2>

      <ul>
      <% sketchbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :paper_weight %>
    <%= form.number_field :paper_weight %>
  </div>

  <div class="field">
    <%= form.label :paper_type %>
    <%= form.text_field :paper_type %>
  </div>

  <div class="field">
    <%= form.label :absorption %>
    <%= form.text_field :absorption %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.number_field :artist_id %>
  </div>

  <div class="field">
    <%= form.label :cover %>
    <%= form.text_field :cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
